.pressure {
  flex-grow: 1;
  height: 100%;
  display: flex;
}

.drawing-app {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.drawing-canvas {
  background: lightgray;
}

.canvas-container {
  flex-grow: 1;
}

.tools-container {
  flex-grow: 0;
  width: 220px;
  background: black;
  color: white;
}