.album-container {
    display: flex;
    cursor: pointer;
}
.album-container--left {
    margin-right: 12px;
}
.album-preview {
    height: 96px;
    width: 64px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.album-preview img {
    height: 96px;
}